
body{
    /* background-color: rgb(227, 207, 245); */
    background-color: rgb(251, 242, 249);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: "#714994" !important
};

